@model bkwdesign.web.math.Models.MathResponse

<div class="mathresponse">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserQuery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserQuery)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Response)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Response)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RequestOrigin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestOrigin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RequestDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestDateTime)
    </div>
</div>
